
.content {
    margin: auto;
    width: 75%;
}

.text{
    border: none;
    width: 100%;
    font-size: 17pt;
}

.text:focus {
    outline: none;
}

#title{
    font-size: 35pt;
    font-weight: 400;
}

#author {
    font-size: 15pt;
}

#text {
    font-size: 17pt;
}