.content {
    margin: auto;
    width: 67.9%;
    padding-top: 60px;
    line-height: 1.2;
    padding-bottom: 40px;
}

.title {
    font-size: 32pt;
}

.author {
    font-size: 15pt;
    font-weight: 500;
}

.text {
    margin-top: 40px;
    font-size: 18pt;
    
}